@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #87ceeb;
    color: #352006;
    border-bottom: solid #352006 2px;
    padding: 0px 0px 0px 50px;
    align-items: center;
    display: flex;
    font-size: 30px;
}
#main {
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-items: center;
    gap: 12px;
    grid-template: 1fr 5fr 1fr / 1fr;
    background-color: #87ceeb;  
}
#main #score{
    display: flex;
    width: 100vw;
    height: 8%;
    justify-content: center;
    color: #352006;
    font-size: 45px;
    grid-row: 1/2;
}
#main #box{
    display: grid;
    width: 640px;
    height: 640px;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    background-color: #87ceeb;
    grid-row: 2/3;
}
#main #box > button{
    font-family: "Nunito", sans-serif;
    font-style: italic;
    border: solid #352006 1px;
    font-size: 150px;
    border-radius: 10px;
    color: #352006;
}
#main #box>button:disabled{
    background-color: #352006;
    color: #87ceeb;
    border: solid #87ceeb 2px;
}
#main #reset{
    grid-row: 3/4;
    width: 100px;
    height: 45px;
    border-radius: 20px;
    border: solid #352006 1px;
    background-color: #352006;
    color: #87ceeb;
    font-size: 20px;
}